<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>MyGenie</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict />
		</array>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>mygenie</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSCallKitUsageDescription</key>
		<string>This app needs access to CallKit for call handling</string>
		<key>CXCallDirectoryManager</key>
		<dict>
			<key>Enabled</key>
			<true />
			<key>ExtensionBundleId</key>
			<string>com.agent.mygenie.CallKitExtension</string>
		</dict>
		<key>CXCallObserver</key>
		<dict>
			<key>Enabled</key>
			<true />
			<key>ExtensionBundleId</key>
			<string>com.agent.mygenie.CallKitExtension</string>
		</dict>
		<key>NSContactsUsageDescription</key>
		<string>This app needs access to your contacts for calls</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app needs access to microphone for calls</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to photo library for profile picture updation</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
</plist>